body {
    background-color: #eee;
}

.profile-img {
    width: 100px;
    height: 100px;
}

.profile-post-img {
    width: 100%;
}
.singlePost-featured-img {
    min-width: 100%;
    height: 300px;
}