/**************
*             *
*   general   *
*             *
**************/
body {
    background-color: #eee;
}

a:hover {
    text-decoration: none;
}

/*************
*            *
*   navbar   *
*            *
*************/

#logout {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #999;
}
#logout:hover {
    color: #333;
    border: none;
}

/******************
*                 *
*   splash page   *
*                 *
******************/

#splash {
    background: #000 url("../images/goldenLuna.png") no-repeat center;
    background-size: contain;
    min-width: 100%;
    height: 100vh;
}

/*****************
*                *
*   index page   *
*                *
*****************/

#index-jumbotron-bg {
    background: #000 url("../images/goldenLuna.png") no-repeat center;
    background-size: contain;
    min-width: 100%;
    height: 500px;
}

/*******************
*                  *
*   profile page   *
*                  *
*******************/

.profile-img {
    width: 100px;
    height: 100px;
}

.profile-post-img {
    width: 100%;
}

/****************
*               *
*   post page   *
*               *
****************/

.singlePost-featured-img {
    min-width: 100%;
    height: 300px;
}