<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/head :: head(Home)" />

</head>
<body>
    <th:block th:replace="fragments/nav :: nav" />
    <div class="container-fluid">
        <div id="index-jumbotron-bg" class="jumbotron">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div th:each="post : ${posts}" class="col-md-4 mb-5">
                <a th:href="@{'/post/' + ${post.id}}">
                    <div class="card">
                        <div class="card-body">
                            <img th:src="@{${post.featuredImgURL}}" class="profile-post-img"/>
                            <h3 th:text="${post.title}"></h3>
                            <p th:text="${post.body}"></p>
                            <a th:href="@{'/profile/' + ${post.user.id}}" class="popover-target">
                                <p th:text="'posted by: ' + ${post.user.username}"></p>
                            </a>
                            <a th:href="@{'mailto:' + ${post.getUser().email}}">
                                <p th:text="${post.getUser().email}"></p>
                            </a>
                        </div>
                        <div class="card hover-popover">
                            <div class="card-body">
                                <img th:src="@{${post.user.imageURL}}" class="profile-img" />
                                <p th:text="${post.user.bio}"></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <th:block th:replace="fragments/js :: js" />

</body>
</html>